/* montserrat-regular - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v24-latin-ext_latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/montserrat-v24-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/montserrat-v24-latin-ext_latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/montserrat-v24-latin-ext_latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/montserrat-v24-latin-ext_latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/montserrat-v24-latin-ext_latin-regular.svg#Montserrat') format('svg');
  /* Legacy iOS */
}

/* montserrat-600 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v24-latin-ext_latin-600.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/montserrat-v24-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/montserrat-v24-latin-ext_latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/montserrat-v24-latin-ext_latin-600.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/montserrat-v24-latin-ext_latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/montserrat-v24-latin-ext_latin-600.svg#Montserrat') format('svg');
  /* Legacy iOS */
}

/* rubik-regular - latin-ext_latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-v20-latin-ext_latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/rubik-v20-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/rubik-v20-latin-ext_latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/rubik-v20-latin-ext_latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/rubik-v20-latin-ext_latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/rubik-v20-latin-ext_latin-regular.svg#Rubik') format('svg');
  /* Legacy iOS */
}

/* rubik-500 - latin-ext_latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/rubik-v20-latin-ext_latin-500.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/rubik-v20-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/rubik-v20-latin-ext_latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/rubik-v20-latin-ext_latin-500.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/rubik-v20-latin-ext_latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/rubik-v20-latin-ext_latin-500.svg#Rubik') format('svg');
  /* Legacy iOS */
}

:root {
  --blue: #79ADDC;
  --dark-green: #515B3A;
  --red: #F25757;
  --yellow: #F5BD1F;
  --indigo: #4B0082;
  --green: #23CE6B;
  --orange: #FFAE42;
  --dark-orange: #CC7400;
  --dark-yellow: #D6A00A;
}

body {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}